/AI-Investor/.idea
/AI-Investor/.idea
/AI-Investor/.idea
/Deep-Agent/node_modules
/Embeddings-Practice/.idea
/AI-Investor/.idea
/Embeddings-Practice/utils/__pycache__
/Embeddings/word2vec/.ipynb_checkpoints
/Embeddings/word2vec/utils/__pycache__
/Multi Tasks/CASE-LangChain使用/.ipynb_checkpoints
/RAG-Advanced/.idea
/RAG-Advanced/.idea
/RAG-Advanced/graphrag-main/cases/cache
/RAG/.idea
/Text2SQL/.idea
Text2SQL/.env
